div{
    border: 1px solid red;
    margin-left: 20px; /*espaçamento da borda*/
    padding-left: 20px; /*espaçamento dentro da borda*/
    display: block;
}

h1{
    border: 1px solid red; 
}

P{
    border: 1px solid red;;
}

Span{
    border: 1px solid red;
}