*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 0, 191);
}

body{
    height: 300vh;
}

.container {
    position:relative;
    left: 500px;
    top: 0px;
    margin-top: 200px;
    width: 400px;
    height: 400px;
    padding: 0px;
    border: 0px solid #0000;
    background-color: blue;
    color: aliceblue;
    text-align: center;
}

.box {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 200px;
    height: 200px;
    padding: 0PX;
    border: 0   PX solid #0000;
    background-color: greenyellow;
    color: initial;
}

